.main_div {
    width: 50%;
    padding: 10px 20px;
    margin: 15px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    position: relative;
    border-radius: 15px;
}

.name_textarea {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    margin-bottom: 20px;
    width: 100%;
}

.description_textarea {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 100%;
    height: 185px;
}

.span {
    margin-right: 10px;
    font-size: xx-small;
}

textarea {
    resize: vertical;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

}